.App {
  text-align: center;
}

.tilesInHand {
  margin-left: 3%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
